{% extends "layout.html" %}

{% block content %}
  <script>
    isLoggedIn();

    function submitClicked() {
      var data = {
        car_id: {{ car.id }},
        username: sessionStorage.getItem('username'),
        duration: document.getElementById('duration').value
      };

      fetch('/api/booking', {
          method: "POST",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          if (data.message == "Success") {
            window.location.href = "/"
          } else {
            let errorBanner = document.getElementById("error-message");
            errors = outputErrors(data.message);
            errorBanner.innerHTML = errors;
            errorBanner.style.display = "block";
          }
        });
    }

    function backClicked() {
      window.location.href = "/cars"
    }
  </script>

  <h4>{{ car.colour }}, {{ car.no_seats }} seater, ${{ car.cost_per_hour }}/hour</h4><br>

  <form>
    <div class="form-group">
      <input type="number" id="duration" class="form-control" min="1" placeholder="Booking Duration (Hours)">
    </div>
    <div class="alert alert-danger" id="error-message"></div>
  </form>

  <div class="btn-group">
    <button type="button" class="btn btn-primary" onclick='submitClicked()'>Book Car</button>
    <button type="button" class="btn btn-secondary" onclick='backClicked()'>Back</button>
  </div>

  <div class="car-loc-frame" id="google-frame">
    <iframe width="100%" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAj8xU-bbz_CRM37O4GMbdQFMrBZojS3gE
      &q={{car.location}}" allowfullscreen>
    </iframe>
  </div>

  <div id="location-error" style="padding-top: 20px; display: none">
    <h4> Car selected has no location set. </h4>
  </div>

  <script>
      let carLoc = "{{ car.location }}"
      if (carLoc == 'None') {
        document.getElementById('location-error').style.display = 'block';
        document.getElementById('google-frame').style.display = 'none';
      }
      console.log(carLoc);
  </script>

{% endblock %}
