{% extends "layout.html" %}

{% block content %}
  <script>
    isLoggedIn();
    updateBookings();

    function updateBookings() {
      fetch("api/booking?username=" + sessionStorage.getItem('username'))
        .then(response => response.json())
        .then(data => {
          document.getElementById("table-data").innerHTML = displayBookings(data.bookings)
        });
    }

    function displayBookings(bookings) {
      var output = ""
      for (var i = 0; i < bookings.length; ++i) {
        let car = bookings[i].car
        // Formatting booking date and time
        let bookTime = moment.utc(bookings[i].book_time).toDate()
        let formattedBookTime = moment(bookTime).format('DD/MM/YY, hh:mm A');

        // Formatting the prefix for the duration column
        var duration = bookings[i].duration
        var durationPrefix = "hours"
        if (duration == 1) durationPrefix = "hour"

        output += "<tr>\n"
            + "<td>" + formattedBookTime + "</td>\n"
            + "<td>" + duration + " " + durationPrefix + "</td>\n"
            + "<td>" + car.make + " " + car.body_type + ", " + car.colour + "</td>\n"
            + "<td>"
              + "<button "
                +"type=\"button\""
                + "class=\"btn btn-danger\""
                + "onclick=\"cancelBooking(" + bookings[i].id + ")\">"
                  +"Cancel"
                +"</button>"
            + "</td>\n"
          + "</tr>\n"
      }
      return output;
    }

    function bookCarsClicked() {
      window.location.href = "/cars"
    }

    function linkAccountClicked() {
      window.location.href = "/google-account"
    }

    function cancelBooking(bookingId) {
      method: 'delete'
      fetch('/api/booking?id=' + bookingId, {
          method: "DELETE"
        })
        .then(response => response.json())
        .then(data => {
          updateBookings();
        });
    }
  </script>

  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Duration</th>
        <th>Car</th>
        <th></th>
      </tr>
    </thead>
    <tbody id='table-data'>
    </tbody>
  </table>

  <div class="btn-group">
    <button type="button" class="btn btn-primary" onclick='bookCarsClicked()'>Book a car</button>
    <button type="button" class="btn btn-secondary" onclick='logout()'>Logout</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-success" onclick='linkAccountClicked()'>Link Google account</button>
  </div>
{% endblock %}
