{% extends "layout.html" %}

{% block content %}
  <script>
    isLoggedIn();

    function submitClicked() {
      var data = {
        username: sessionStorage.getItem('username'),
        make: document.getElementById('make').value,
        body_type: document.getElementById('body-type').value,
        colour: document.getElementById('colour').value,
        no_seats: document.getElementById('no-seats').value,
        location: document.getElementById('location').value,
        cost_per_hour: document.getElementById('cost-per-hour').value
      };

      var method = "POST";
      {% if car is not none %}
        data["car_id"] = {{ car.id }}
        method = "PUT"
      {% endif %}

      make_request(data, method)
    }

    {% if car is not none %}
      function reportIssueClicked() {
        window.location.href = "/report-issue?id={{ car.id }}"
      }

      function deleteClicked() {
        var data = {
          car_id: {{ car.id }},
          username: sessionStorage.getItem('username')
        }

        make_request(data, "DELETE")
      }

      updateBookings()

      function updateBookings() {
        fetch("api/booking?car_id={{ car.id }}")
          .then(response => response.json())
          .then(data => {
            document.getElementById("table-data").innerHTML = displayBookings(data.bookings)
          });
      }

      function displayBookings(bookings) {
        var output = ""
        for (var i = 0; i < bookings.length; ++i) {
          // Formatting booking date and time
          let bookTime = moment.utc(bookings[i].book_time).toDate()
          let formattedBookTime = moment(bookTime).format('DD/MM/YY, hh:mm A');

          // Formatting the prefix for the duration column
          let duration = bookings[i].duration
          var durationPrefix = "hours"
          if (duration == 1) durationPrefix = "hour"

          output += "<tr>\n"
              + "<td>" + bookings[i].username + "</td>\n"
              + "<td>" + formattedBookTime + "</td>\n"
              + "<td>" + duration + " " + durationPrefix + "</td>\n"
            + "</tr>\n"
        }
        return output;
      }
    {% endif %}

    function make_request(data, method) {
      fetch('/api/car', {
          method: method,
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          if (data.message == "Success") {
            window.location.href = "/admin-console"
          } else {
            let errorBanner = document.getElementById("error-message");
            errors = outputErrors(data.message);
            errorBanner.innerHTML = errors;
            errorBanner.style.display = "block";
          }
        });
    }

    function backClicked() {
      window.location.href = "/admin-console"
    }

    fetch("api/booking?car_id={{ car.id }}")
        .then(response => response.json())
        .then(data => {
          showCharts(data.bookings)
          showTimeline(data.bookings)
      });

    function showCharts(bookings){
      google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = new google.visualization.DataTable();
      data.addColumn('string', 'user');
      data.addColumn('number', 'timebooked');
      for (var i = 0; i < bookings.length; ++i) {
      data.addRows([
        [bookings[i].username, bookings[i].duration]
      ]);
      }
  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Users who booked this car', 'width':650, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
    }

    function showTimeline(bookings){
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'President' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        for (var i = 0; i < bookings.length; ++i) {

          let bookTime = moment.utc(bookings[i].book_time).toDate()
          let formattedBookTime = moment(bookTime).format('YYYY, M, D, h, m');
          let fa = moment(bookTime).format('YYYY');
          let fb = moment(bookTime).format('M');
          let fc = moment(bookTime).format('D');
          let fd = moment(bookTime).format('h');
          let fg = moment(bookTime).format('m');
          alert(fa)
        dataTable.addRows([
          [ bookings[i].username, new Date(fa, fb, fc, fd, fg), new Date(2021, 2, 4, 0, 0) ]
          ]);
        }
        chart.draw(dataTable);
      }
    }
//      // alert("timeline called")
//       google.charts.load('current', {'packages':['timeline']});
// google.charts.setOnLoadCallback(drawChart);

// // Draw the chart and set the chart values
// function drawChart() {
//   var container = document.getElementById('timeline');
//   var chart = new google.visualization.Timeline(container);
//   var dataTable = new google.visualization.DataTable();
//     DataTable.addColumn({ type: 'string', id: 'bookings' });
//     DataTable.addColumn({ type: 'string', id: 'dummy bar label' });
//     DataTable.addColumn({ type: 'string', role: 'tooltip' });
//     DataTable.addColumn({ type: 'date', id: 'Start' });
//     DataTable.addColumn({ type: 'date', id: 'End' });
//       for (var i = 0; i < bookings.length; ++i) {
//         let bookTime = moment.utc(bookings[i].book_time).toDate()
//         let formattedBookTime = moment(bookTime).format('YYYY, MM, DD hh, mm');
//         let bookTimeEnd = moment.utc(bookings[i].book_time).toDate().add(bookings[i].duration, 'hours');
//         let formattedBookTimeEnd = moment(bookTime).format('YYYY, MM, DD hh, mm');
//         DataTable.addRows([
//         [bookings[i].username, null, bookings[i].username, new Date(formattedBookTime), new Date(formattedBookTimeEnd)]
//       ]);
//       }

//   chart.draw(dataTable);
// }
//     }

  </script>

  <form>
    <div class="form-row">
      <div class="col">
        <label for="make">Make:</label>
        <input type="text" class="form-control" id="make" placeholder="Make" value="{{ car.make }}"/>
      </div>
      <div class="col">
        <label for="body-type">Body Type:</label>
        <input type="text" class="form-control" id="body-type"  placeholder="Body type" value="{{ car.body_type }}"/>
      </div>
      <div class="col">
        <label for="colour">Colour:</label>
        <input type="text" class="form-control" id="colour" placeholder="Colour" value="{{ car.colour }}"/>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="no-seats">Number of Seats:</label>
        <input type="number" class="form-control" id="no-seats"  placeholder="Number of seats" value="{{ car.no_seats }}"/>
      </div>
      <div class="col">
        <label for="cost-per-hour">Cost Per Hour:</label>
        <input type="number" class="form-control" id="cost-per-hour"  placeholder="Cost per hour" value="{{ car.cost_per_hour }}"/>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="location">Location:</label>
        <input type="text" class="form-control" id="location" placeholder="Location" value="{{ car.location }}"/>
      </div>
    </div>

    <div class="alert alert-danger" id="error-message"></div>
  </form>


  {% if car is not none %}
      <div class="btn-group">
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable">
          Booking history
        </button>
      </div>
    <div class="collapse" id="collapseTable">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Time</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody id='table-data'>
        </tbody>
      </table>
      <h1>User Time Booked</h1>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <div id="piechart"></div>
      <h1>Booking Timeline</h1>
      <div id="timeline"></div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning" onclick='reportIssueClicked()'>Report an issue</button>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-danger" onclick='deleteClicked()'>Delete</button>
    </div>
  {% endif %}

  <div class="btn-group">
    <button type="button" class="btn btn-primary" onclick='submitClicked()'>Submit</button>
    <button type="button" class="btn btn-secondary" onclick='backClicked()'>Back</button>
  </div>

{% endblock %}