{% extends "layout.html" %}

{% block content %}
  <script>
    isLoggedIn();

    function submitClicked() {
      var data = {
        username: document.getElementById('username').value,
        f_name: document.getElementById('first-name').value,
        l_name: document.getElementById('last-name').value,
        email: document.getElementById('email').value,
      };

      password = document.getElementById('password').value,
      confirmPassword = document.getElementById('confirm-password').value

      var method = "POST";
      {% if user is not none %}
        data["admin_username"] = sessionStorage.getItem('username')
        data["role"] = document.getElementById('role').value
        if (password != "") {
          data["password"] = password
          data["confirm_password"] = confirmPassword
        }
        method = "PUT"
      {% else %}
        data["password"] = password
        data["confirm_password"] = confirmPassword
      {% endif %}

      make_request(data, method)
    }

    {% if user is not none %}
      function deleteClicked() {
        var data = {
          admin_username: sessionStorage.getItem('username'),
          username: "{{ user.username }}",
        }

        make_request(data, "DELETE")
      }
    {% endif %}

    function make_request(data, method) {
      fetch('/api/user', {
          method: method,
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          if (data.message == "Success") {
            window.location.href = "/manage-users"
          } else {
            let errorBanner = document.getElementById("error-message");
            errors = outputErrors(data.message);
            errorBanner.innerHTML = errors;
            errorBanner.style.display = "block";
          }
        });
    }

    function backClicked() {
      window.location.href = "/manage-users"
    }

  </script>

  <form>
    <div class="form-row">
      <div class="col">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" value="{{ user.username }}"/>
      </div>
      <div class="col">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" value="{{ user.email }}"/>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="first-name">First Name:</label>
        <input type="text" class="form-control" id="first-name" value="{{ user.f_name }}" />
      </div>
      <div class="col">
        <label for="last-name">Last Name:</label>
        <input type="text" class="form-control" id="last-name" value="{{ user.l_name }}" />
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="no-seats">Password:</label>
        <input type="password" class="form-control" id="password" />
      </div>
      <div class="col">
        <label for="no-seats">Confirm Password:</label>
        <input type="password" class="form-control" id="confirm-password" />
      </div>
    </div>

    {% if user is not none %}
      <div class="form-row">
        <div class="col">
          <label for="role">Role:</label>
          <select class="form-control" id="role" value="{{ user.role }}">
            <option value=1 {{ 'selected="selected"' if user.role == "default" }}>Default</option>
            <option value=2 {{ 'selected="selected"' if user.role == "admin" }}>Admin</option>
            <option value=3 {{ 'selected="selected"' if user.role == "manager" }}>Manager</option>
            <option value=4 {{ 'selected="selected"' if user.role == "engineer" }}>Engineer</option>
          </select>
        </div>
      </div>
    {% endif %}

    <div class="alert alert-danger" id="error-message"></div>
  </form>

  {% if user is not none %}
    <div class="btn-group">
      <button type="button" class="btn btn-danger" onclick='deleteClicked()'>Delete</button>
    </div>
  {% endif %}

  <div class="btn-group">
    <button type="button" class="btn btn-primary" onclick='submitClicked()'>Submit</button>
    <button type="button" class="btn btn-secondary" onclick='backClicked()'>Back</button>
  </div>

{% endblock %}
