{% extends "layout.html" %}

{% block content %}
  <script>
    isLoggedIn();

    function submitClicked() {

      var data = {
        username: sessionStorage.getItem('username'),
        token: document.getElementById('token').value
      }

      fetch('/api/pushbullet', {
          method: "POST",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          if (data.message == "Success") {
            window.location.href = "/engineer-console";
          } else {
            let errorBanner = document.getElementById("error-message");
            errors = outputErrors(data.message);
            errorBanner.innerHTML = errors;
            errorBanner.style.display = "block";
          }
        });
    }

    function backClicked() {
      window.location.href = "/engineer-console"
    }
  </script>

  <div class='text-block'>
    <b>To link your Pusbullet account you must:</b>
    <ol>
      <li>Go to your <a href='https://www.pushbullet.com/#settings/account' id='auth-link'>Pusbullet account dashboard<a></li>
      <li>Click on create access token</li>
      <li>Copy and paste the access token into the text box and submit</li>
    </ol>
  </div>

  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="token" placeholder="Access Token"/>
    </div>
    <div class="alert alert-danger" id="error-message"></div>
  </form>

  <div class="btn-group">
    <button type="button" class="btn btn-primary" onclick='submitClicked()'>Submit</button>
    <button type="button" class="btn btn-secondary" onclick='backClicked()'>Back</button>
  </div>
{% endblock %}
