{% extends "layout.html" %}

{% block content %}
  <script>
    // lockout([])
    
    function submitClicked() {
      var data = {
        username: document.getElementById('username').value,
        password: document.getElementById('password').value
      }

      fetch('/api/login', {
          method: "POST",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          if (data.user != null) {
            sessionStorage.setItem('username', data.user.username);
            sessionStorage.setItem('role', data.user.role);

            if (data.user.role == "admin") window.location.href = "/admin-console";
            else if (data.user.role == "manager") window.location.href = "/manager-console";
            else if (data.user.role == "engineer") window.location.href = "/engineer-console";
            else window.location.href = "/";

          } else {
            let errorBanner = document.getElementById("error-message");
            errors = outputErrors(data.message);
            errorBanner.innerHTML = errors;
            errorBanner.style.display = "block";
          }
        });
    }
  </script>

  <form>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="username" class="form-control" id="username" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" />
    </div>

    <div class="alert alert-danger" id="error-message"></div>

    <div class="btn-group">
      <button type="button" class="btn btn-primary" onclick='submitClicked()'>Submit</button>
      <button type="button" class="btn btn-success" onclick='redirect("register")'>Register</button>
    </div>
  </form>
{% endblock %}
