{% extends "layout.html" %}

{% block content %}
  <script>
    isLoggedIn();

    // Loading all cars on page load
    fetch("api/cars")
      .then(response => response.json())
      .then(data => {
        document.getElementById("table-data").innerHTML = displayCars(data.cars)
      });

    function displayCars(cars) {
      var output = ""
      for (var i = 0; i < cars.length; ++i) {
        output += "<tr class='table-data-row' onclick=rowClicked('" + cars[i].id + "')>\n"
            + "<td>" + cars[i].make + "</td>\n"
            + "<td>" + cars[i].body_type + "</td>\n"
            + "<td>" + cars[i].colour + "</td>\n"
            + "<td>" + cars[i].no_seats + "</td>\n"
            + "<td>$" + cars[i].cost_per_hour + "</td>\n"
          + "</tr>\n"
      }
      return output;
    }


    function submitClicked() {
      var searchBy = document.getElementById('search-by').value;
      var searchTerm = document.getElementById('search-term').value;
      var url = "api/cars?" + searchBy + "=" + searchTerm

      fetch(url)
        .then(response => response.json())
        .then(data => {
          document.getElementById("table-data").innerHTML = displayCars(data.cars)
        });
    }

    function rowClicked(carId) {
      let admin = "{{ admin }}"
      let manager = "{{ manager }}"
      if (admin == "True"){ window.location.href = "/edit-car?id=" + carId
      }
      else if (manager == "True"){
        window.location.href = "/statistics-car?id=" + carId
      }
      else {
        window.location.href = "/car?id=" + carId
      }
    }

    function backClicked() {
      window.location.href = "/"
    }

    function newCarClicked() {
      window.location.href = "/new-car"
    }
//gets data
    fetch("api/cars")
      .then(response => response.json())
      .then(data => {
        showCharts(data.cars)
      });
    function showCharts(cars){
      google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = new google.visualization.DataTable();
      data.addColumn('string', 'ID');
      data.addColumn('number', 'number of seats');
      data.addColumn('number', 'cost per hour');
      data.addColumn('string', 'Make');
      for (var i = 0; i < cars.length; ++i) {
      data.addRows([
        ['', cars[i].no_seats, cars[i].cost_per_hour,  cars[i].make]
      ]);
      }
  // setting our options for the chart
  var options = {
    'width':450,
    'height':800,
    'chartArea': {'width': '80%', 'height': '80%'},
    hAxis: {title: 'Number Of Seats'},
    vAxis: {title: 'Cost Per Hour'},
    bubble: {
      textStyle: {
        auraColor: 'none'
      }
    }
  };
  // Display the chart inside the <div> element with id="bubblechart"
  var chart = new google.visualization.BubbleChart(document.getElementById('bubblechart'));
  //makes sure there are cars before it draws graph
  if (cars.length > 0) {
  chart.draw(data, options);
  document.getElementById("bubbleinfo").innerHTML = "Correlation between number of seats in a car and the cost per hour of that car";
  }
}
}

  </script>

  <form>
    <div class="form-row">
      <div class="col-7">
        <input type="text" class="form-control" id="search-term" placeholder="Search">
      </div>
      <div class="col">
        <select class="form-control" id="search-by">
          <option value="" disabled selected>Filter by:</option>
          <option value="make">Make</option>
          <option value="body_type">Body Type</option>
          <option value="colour">Colour</option>
          <option value="no_seats">No. Seats</option>
          <option value="cost_per_hour">Cost Per Hour</option>
        </select>
      </div>
      <div class="col">
         <button type="button" class="btn btn-primary" onclick='submitClicked()'>Submit</button>
      </div>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Make</th>
        <th>Type</th>
        <th>Colour</th>
        <th>No. Seats</th>
        <th>Cost/Hour</th>
      </tr>
    </thead>
    <tbody id='table-data'>
    </tbody>
  </table>
  
    {% if admin %}
      <div class="btn-group"></div>
      <button type="button" class="btn btn-success" onclick='newCarClicked()'>New Car</button>
      <button type="button" class="btn btn-secondary" onclick='logout()'>Logout</button>
      </div>
    {% elif manager %}
    <div class="btn-group">
      <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable">
        View Graph
      </button>
    </div>
  <div class="collapse" id="collapseTable">

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <p id="bubbleinfo"></p>
      <div id="bubblechart"></div>
  </div>
      <div class="btn-group"></div>
      <button type="button" class="btn btn-secondary" onclick='logout()'>Logout</button>
      </div>
    {% else %} 
      <div class="btn-group"></div>
      <button type="button" class="btn btn-secondary" onclick='backClicked()'>Back</button>
      </div>

    {% endif %}
    
{% endblock %}
