{% extends "layout.html" %}

{% block content %}
  <script>
    isLoggedIn();

    // Loading all cars on page load
    fetch("api/cars")
      .then(response => response.json())
      .then(data => {
        document.getElementById("table-data").innerHTML = displayCars(data.cars)
      });

    function displayCars(cars) {
      var output = ""
      for (var i = 0; i < cars.length; ++i) {
        output += "<tr class='table-data-row' onclick=rowClicked('" + cars[i].id + "')>\n"
            + "<td>" + cars[i].make + "</td>\n"
            + "<td>" + cars[i].body_type + "</td>\n"
            + "<td>" + cars[i].colour + "</td>\n"
            + "<td>" + cars[i].no_seats + "</td>\n"
            + "<td>$" + cars[i].cost_per_hour + "</td>\n"
          + "</tr>\n"
      }
      return output;
    }


    function submitClicked() {
      var searchBy = document.getElementById('search-by').value;
      var searchTerm = document.getElementById('search-term').value;
      var url = "api/cars?" + searchBy + "=" + searchTerm

      fetch(url)
        .then(response => response.json())
        .then(data => {
          document.getElementById("table-data").innerHTML = displayCars(data.cars)
        });
    }

    function rowClicked(carId) {
      let admin = "{{ admin }}"
      if (admin == "True") window.location.href = "/edit-car?id=" + carId
      else window.location.href = "/car?id=" + carId
    }

    function backClicked() {
      window.location.href = "/"
    }

    function newCarClicked() {
      window.location.href = "/new-car"
    }

    fetch("api/cars")
      .then(response => response.json())
      .then(data => {
        displayCars(data.cars)
      });
    function showCharts(cars){
      alert(cars.length);
      google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = new google.visualization.DataTable();
      data.addColumn('string', 'Pizza');
      data.addColumn('number', 'Populartiy');
      for (var i = 0; i < cars.length; ++i) {
      data.addRows([
        ['test', 1]
      ]);
      }
  // Optional; add a title and set the width and height of the chart
  var options = {'title':'My Average Day', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}

}

  // lets just get a chart drawing first 
    // Load google charts
    src="https://www.gstatic.com/charts/loader.js">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    document.write("test");
    document.write(cars.length);
    // Draw the chart and set the chart values
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Make');
      data.addColumn('number', 'Populartiy');
      data.addRow('test', 2);
    
      }
      // Optional; add a title and set the width and height of the chart
      var options = {'title':'My Average Day', 'width':550, 'height':400};
    
      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    

  </script>

  <form>
    <div class="form-row">
      <div class="col-7">
        <input type="text" class="form-control" id="search-term" placeholder="Search">
      </div>
      <div class="col">
        <select class="form-control" id="search-by">
          <option value="" disabled selected>Filter by:</option>
          <option value="make">Make</option>
          <option value="body_type">Body Type</option>
          <option value="colour">Colour</option>
          <option value="no_seats">No. Seats</option>
          <option value="cost_per_hour">Cost Per Hour</option>
        </select>
      </div>
      <div class="col">
         <button type="button" class="btn btn-primary" onclick='submitClicked()'>Submit</button>
      </div>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Make</th>
        <th>Type</th>
        <th>Colour</th>
        <th>No. Seats</th>
        <th>Cost/Hour</th>
      </tr>
    </thead>
    <tbody id='table-data'>
    </tbody>
  </table>

  <div class="btn-group">
    {% if admin %}
      <button type="button" class="btn btn-success" onclick='newCarClicked()'>New Car</button>
      <button type="button" class="btn btn-secondary" onclick='logout()'>Logout</button>
      <button type="button" class="btn btn-success" onclick='showCharts()'>show chart</button>
    </div>
      <h1>testing piechart</h1>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div id="piechart"></div>
  
    {% else %}
      <button type="button" class="btn btn-secondary" onclick='backClicked()'>Back</button>
    {% endif %}
  </div>
{% endblock %}
