{% extends "layout.html" %}

{% block content %}
  <script>
    lockout(["manager"]);

    function rowClicked(carId) {
      window.location.href = "/statistics-car?id=" + carId
    }

    // Get data to create statistics
    fetch("api/cars")
      .then(response => response.json())
      .then(data => {
        showCharts(data.cars)
    });

    function showCharts(cars) {
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      // Draw the chart and set the chart values
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'ID');
        data.addColumn('number', 'number of seats');
        data.addColumn('number', 'cost per hour');
        data.addColumn('string', 'Make');
        for (var i = 0; i < cars.length; ++i) {
          data.addRows([
            ['', cars[i].no_seats, cars[i].cost_per_hour,  cars[i].make]
          ]);
        }

        // Setting our options for the chart
        var options = {
          'width':500,
          'height':600,
          'chartArea': {'width': '60%', 'height': '85%'},
          hAxis: {title: 'Number Of Seats'},
          vAxis: {title: 'Cost Per Hour'},
          bubble: {
            textStyle: {
              auraColor: 'none'
            }
          }
        };

        // Display the chart inside the <div> element with id="bubblechart"
        var chart = new google.visualization.BubbleChart(document.getElementById('bubblechart'));

        // Make sure there are cars before it draws graph
        if (cars.length > 0) {
        chart.draw(data, options);
        document.getElementById("bubbleinfo").innerHTML =
          "Correlation between number of seats in a car and the cost per hour of that car";
        }
      }
    }
  </script>

  {% block table %}{% endblock %}

  <div class="btn-group">
    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable">
      View Graph
    </button>
  </div>
  <div class="collapse" id="collapseTable">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script><br>
    <p id="bubbleinfo"></p>
    <div id="bubblechart"></div>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-secondary" onclick='logout()'>Logout</button>
  </div>
{% endblock %}
