.main-container {
  margin: auto;
  width: 500px;
  text-align: center;
  padding-top: 125px;
}

.topnav {
    text-align: left;
    padding-bottom: 12px;
}

.topnav a:link {
    color: black;
    text-decoration: none;
}

.topnav a:visited {
    color: black;
    text-decoration: none;
}

.topnav img {
    width: 20px;
}

h2 {
  padding-bottom: 12px;
}

form {
  text-align: left;
}

form #error-message {
  display: none;
}

.btn-group {
  width: 100%;
  padding-top: 16px;
}

.table-title {
  width: 100%;
  text-align: left;
}

.table-data-row {
    cursor: pointer;
}
