.main-container {
  margin: auto;
  width: 500px;
  text-align: center;
  padding-top: 125px;
  margin-bottom: 25px;
}

h2 {
  padding-bottom: 12px;
}

form {
  text-align: left;
}

form #error-message {
  display: none;
}

.btn-group {
  width: 100%;
  padding-top: 16px;
}

.table-title {
  width: 100%;
  text-align: left;
}

.table-data-row {
    cursor: pointer;
}

.text-block {
  width: 100%;
  text-align: left;
}

.car-loc-frame {
  padding-top: 35px;
  display: block;
  text-align: center;
}

.form-row {
  padding-bottom: 12px;
}

label {
  font-weight: bold;
}
