.main-container {
  margin: auto;
  width: 450px;
  min-width: 250px;
  text-align: center;
  padding-top: 125px;
}

form {
  text-align: left;
  padding-top: 12px;
}

form .btn-group {
  width: 100%;
  padding-top: 16px;
}
form #error-message {
  display: none;
}
